@import url("/styles/global.css");
header {
    background-image: url("/assets/pousada.webp");
    width: 100%;
    height: 611px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    position: relative;
    filter: brightness(0.6);
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/assets/pousada.webp");
    background-size: cover;
    background-position: center;
    z-index: -1; 
    background-color: rgba(0, 0, 0, 1); 
}


div img {
    width: 580px;
    height: 172px;
}

.BotaoReserva {
    width: 453px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: var(--laranja);
    font-size: 24px;
    color: var(--CorBranca);
    font-weight: bold;
    cursor: pointer;
}


