@import url("/styles/global.css");



.HeaderReserva {
    width: 100%;
    background: var(--laranja);
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.ContainerReserva {
    display: flex;
    margin-top: 40px;
    width: 100%;
    max-width: 1200px;

}

/* Header links */
nav {
    max-width: 1200px;
    text-align: center;
}

.logo {
    height: 40px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    border-bottom: 1px solid #ffffff;
}


.ContainerReserva hr {
    background-color: #FF6600;
    height: 5px;
    background-image: linear-gradient(to right, #FF6600, #FFCC00);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 91px;
}

.ContainerReserva h1 {
    font-size: 30px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    text-align: left;
    color: #002800;
}

.star {
    display: flex;
    align-self: center;
    padding-left: 10px;
}

.star img {
    height: 20px;
    width: 20px;
}




.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    width: 100%;
    gap: 28px;
    margin: 0;
}

.Quadro {
    margin-top: 10px;
}


.imgreserva {
    height: 0 auto;
    margin-top: 10px;
}

.wImage {
    width: 349px;
    height: 231px;
}

.Container {
    display: flex;
    flex-direction: column;
}

.Container p {
    width: 650px;
    height: 255px;
    font-size: 18px;
    color: #3E3E3E;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 30px;
}

/* Formulário */
.Forms {
    width: 467px;
    height: 450px;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.form-group {
    margin-bottom: 35px;
}

.Forms h1 {
    font-size: 25px;
    font-weight: 700;
    color: #002800;
    width: 400px;
    margin-bottom: 20px;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="date"],
input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-reservar {
    background-color: var(--laranja);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}

.btn-reservar:hover {
    background-color: #f57c00;
}

/* Comodidades nos quartos */

.ComodidadesContainer {
    display: flex;
}

.ComodidadesContainer ul li {
    color: #0c0101;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    text-transform: capitalize;
}

.ComodidadesContainer ul li i {
    margin-right: 10px;
}

/* Seção suítes Recomendadas */

.ContainerCarrossel {
    width: 100%;
    max-width: 1200px;
    margin-top: 40px;
}

.ContainerCarrossel h1 {
    color: #000000;
    font-size: 25px;
    height: 54px;
    font-weight: 700;
    width: 400px;
}

.ContainerCarrossel hr {
    background-color: #FF6600;
    height: 5px;
    background-image: linear-gradient(to right, #FF6600, #FFCC00);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 91px;
    margin-bottom: 30px;
}

.suites-carousel img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
}

.owl-carousel .owl-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 35%;
    width: 100%;
}

.owl-carousel .owl-nav button {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 8px;
    font-size: 18px;
    border-radius: 50%;
}